body, ol, ol li, div, h1, p{
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 70%;
	border: 1px solid grey;
	font-family: Verdana;
	font-size: 12px;
	box-sizing: border-box;
}
.head{
	width: 100%;
	display: flex;
	background-color: #1b5589;
	align-items: center;
	padding: 3px 40px;
	box-sizing: border-box;
}
ol li{
	list-style-type: none;	
}
.head li:last-child{
	width: 80%;
	text-align: right;
}
.head li a{
	text-decoration: none;
	color: #89a7c0;
	padding: 10px;
}
.head li a:hover{
	color: white;
}
.head li:first-child img{
	width: 85%;
}
.main{
	padding: 25px 40px 20px 40px;
	box-sizing: border-box;
}
h1{
	font-weight: normal;
	text-align: center;
	margin-bottom: 25px;
	font-size: 28px;
}
.blue{
	display: flex;
	background-color: #cce5ff;
	border-radius: 5px;
	box-sizing: border-box;
}
.blue li{
	text-transform: uppercase;	
	text-align: center;
	padding: 10px 0;
}
.blue li:first-child{
	width: 20%;
}
.blue li:nth-child(2){
	width: 40%;
}
.blue li:last-child{
	width: 40%;
}
.blue li a{
	color: #164478;
	text-decoration: none;	
}
.blue li a:hover{
	text-decoration: underline;
}
.forms{
	display: flex;
	box-sizing: border-box;
	padding-top: 30px;
}
.photo, .info, .password{
	border: 1px solid black;
}
.photo{
	width: 20%;
	text-align: center;
	box-sizing: border-box;
}
.avatar{
	width: 80%;	
}
#ava{
	display: none;
}
.ChoosePh{
	width: 80%;	
	text-align: center;
	margin: 0 10%;
	background-color: #6c757d;
	color: white;
	padding: 10px 0;
	border-radius: 5px;
}
label{
	cursor: pointer;
}
.info{
	width: 40%;	
}
.password{
	width: 40%;	
}